*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Gradient_text{
    background-image: linear-gradient(43deg, #e204ee 23%, #9202a4 30%, #06bdff 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 300px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
h2{
    text-align: center;
    color: aliceblue;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    max-width: 880px;
}
.Identifying_myself{
    font-style: inherit;
    text-align: center;
    color: aliceblue;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
body{
    background: linear-gradient(90deg, #0d012e 0%, #05013b 46%, #16036b 100%);
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadedownin{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
body{
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.skills{
    font-style: inherit;
    text-align: center;
    color: aliceblue;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    animation-name: fadedownin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.container form{
    width: 670px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
}
.container form h1{
    background-image: linear-gradient(43deg, #e204ee 23%, #9202a4 30%, #06bdff 100%);
     -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
.container form input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.container form input::placeholder{
    color: #fff;
}
.container form #lastname,
.container form #mobile{
    margin-left: 20px;
}
.container form h4{
    color: #fff;
    font-weight: 300;
    width: 600;
    margin-top: 20px;
}
.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-height: 90px;
    min-width: 620px;
    max-width: 620px;
}
.container form h4{
    font-size: 20px;
}
.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
}
.container form #button:hover{
    background: #000;
    color: #fff;
    transition: .5s ease-in-out;
}
.Aboutme{
    justify-content: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font: bold;
    font-size: 20px;
    height: auto;
    width: 600px;
    border: 2px solid #333;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 300px solid;
}
.my_name{
    color: #fff;
     background-image: linear-gradient(43deg, #e204ee 23%, #9202a4 30%, #06bdff 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h3{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 400px;
}
.fade-in-element{
    animation-name: fadedownin;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;

}

.what-i-can-do{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 45px;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    font-size: larger;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 870px;
    background: rgba(73, 2, 112, 0.1);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.what-i-can-do:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
    
}
header{
    width: 100%;
    height: 75px;
    background: rgba(130, 6, 212, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    animation-name: fadedownin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.logo img{
    width:80px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(130, 4, 255);
    margin: 0 15px;
}
.right a:hover{
    border-bottom: 0.8mm solid rgb(105, 2, 195);
}
a.primary{
    background: rgb(24, 1, 45);
    color: white;
    padding: 7px 20px;
    border-radius: 5mm;
}
a.primary:hover{
    color: white;
     background: rgb(71, 2, 135);
}
iframe{
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
}
.centered-iframe{
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    margin-top: 30px;
    animation-name: fadedownin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
.typewriter h2 {
  overflow: hidden;
  border-right: .15em solid rgb(255, 255, 255);
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: 0.01; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}
.copyright{
    color: white;
    display: flex;
    margin-top: 100px;
    padding: 7px 20px;
    border-radius: 5mm;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
footer{
    width: 100%;
    background: rgba(94, 1, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px px;
    box-sizing: border-box;
    animation-name: fadein;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
footer img{
    width: 90px;
    margin-right: 30px;
}
.footer-right{
    color: #fff;
}
.footer-left{
    display: flex;
    align-items: center;
}
footer a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(130, 4, 255);
    margin: 0 10px;
}
footer a:hover{
    border-bottom: 0.8mm solid rgb(105, 2, 195);
}
.Skills_page{
    display: flex;
}
.main_sen{
    background-image: linear-gradient(43deg, #e204ee 23%, #9202a4 30%, #06bdff 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 50px;
    animation-name: fadedownin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.My_skills{
    background-color: rgba(93, 7, 178, 0.1);
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: translateY(1.0);

}
.My_skills:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(1.2);
}
.Thumbnails{
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    transform: scale(0.4);
    transition: box-shadow 0.3s ease-in-out;
    animation-name: fadedownin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
.Thumbnails:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.711);
    transform: translateY(1.2);
}
.fa-youtube{
    color: red;
}
.fa-discord{
    color: white;
    background-color: #16036b;
}
.Thumbnails-Text{
    font-size: x-large;
    animation-name: fadedownin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
.Editing{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
     animation-name: fadedownin;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}